.styleBody{
    background: url("https://cdngarenanow-a.akamaihd.net/shopee/shopee-pcmall-live-id/assets/53103c22e7c3e3376f5025d8814fb905.png") center top / 100% no-repeat;
    padding-bottom: 0px;
    background-color: #F5F5F5;
    padding-top: 80px;
    margin-top: 64px;
}